11.1

In [6]:
import zoo

zoo.hours()

Open 9-5 daily

11.2

In [5]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

16

In [7]:
import csv

In [8]:
data = open('books.csv')

In [9]:
csv_data=csv.reader(data)

In [10]:
data_lines= list(csv_data)

In [11]:
data_lines

[['author', 'book'],
 ['J R R Tolkien', 'The Hobbit'],
 ['Lynne Truss', 'Eats, Shoots & Leaves']]

In [18]:
import sqlite3

In [20]:
connection = sqlite3.connect("books.db")

In [21]:
cursor = connection.cursor()
cursor.execute("CREATE TABLE books (title TEXT, author TEXT, year INTEGER)")

In [22]:
cursor.execute("INSERT INTO books VALUES ('The Weirdstone of Brisingamen', 'Alan Garner', 1960)")
cursor.execute("INSERT INTO books VALUES ('Perdido Street Station', 'China MiÃ©ville', 2000)")
cursor.execute("INSERT INTO books VALUES ('Thud!', 'Terry Pratchett', 2005)")
cursor.execute("INSERT INTO books VALUES ('The Spellman Files', 'Lisa Lutz', 2007)")
cursor.execute("INSERT INTO books VALUES ('Small Gods', 'Terry Pratchett', 1992)")

In [24]:
print(title.books)

NameError: name 'title' is not defined

In [28]:
import sqlalchemy

ModuleNotFoundError: No module named 'sqlalchemy'

In [29]:
import mysql.connector

books2 = mysql.connector.connect(sqlite3, sqlalchemy)

ModuleNotFoundError: No module named 'mysql'

In [26]:
print(title.books)

NameError: name 'title' is not defined